* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background: linear-gradient(
    to right top, #1b1b1b, #38ccae
  );
  color: #fff;
  font-family: "Montserrat", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.container {
  height: auto;
  width: 70%;
  max-width: 1200px;
  border-radius: 30px;
  padding: 32px 64px 128px;
  position: relative;
  z-index: 2;
  background: 
    linear-gradient(to left bottom,
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.75));
  backdrop-filter: blur(8px);
}

header,
main {
  max-width: 1140px;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
}

header p {
  padding-left: 12px;
}

.header__logotype {
  display: flex;
  align-items: center;
}

.header__logo {
  position: relative;
  height: 225px;
  width: 150px;
  text-align: center;
}

.header__logo__bg {
  position: absolute;
  width: 150px;
  left: 0;
  top: 130px;
}

.header__logo__question-mark {
  height: 100%;
  width: auto;
  position: relative;
}

h1 {
  padding-left: 12px;
  font-size: 48px;
  margin-bottom: 20px;
}

h2 {
  margin: 100px 0 50px;
  font-size: 42px;
  position: relative;
}

h2:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0;
  bottom: -20px;
  background: linear-gradient(90deg, #38ccae 0%, transparent 60%);
}

h3 {
  margin-top: 25px;
  font-size: 28px;
}

main {
}

section {
  width: 100%;
}

a {
  display: inline-block;
  color: #38ccae;
  text-decoration: none;
  position: relative;
}

a:after {
  content: "";
  background: linear-gradient(90deg, transparent, #38ccae);
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  position: absolute;
  transition: width 0.3s;
}

a:hover:after {
  width: 100%;
}

main {
  margin: 0 auto;
}

p {
  font-size: 20px;
  line-height: 32px;
}

.row {
  display: flex;
  margin-top: 80px;
  align-items: flex-start;
  position: relative;
}

.row p {
  flex: 1;
  padding: 0 50px 0 0;
}

.row section {
  padding-left: 70px;
  flex: 1;
}

.row section p {
  margin-bottom: 15px;
}

.row__col {
  width: 200px;
  text-align: center;
}

.person__img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-size: 250px auto;
  background-color: #38ccae;
  border-radius: 50%;
  border: solid 2px #fff;
  position: relative;
}

.person__img--filip {
  margin-top: 150px;
  background-image: url("assets/filip.png");
  background-position: -10px -50px;
}

.person__img--kacper {
  background-image: url("assets/kacper.png");
  background-position: -30px -10px;
}

/*positioning*/

/* RWD */

#mobile-headline {
  display: none;
}

#authors {
  display: none;
}

@media (max-width: 812px) {
  header {
    margin: 25px 0 50px;
  }

  main {
    margin: 25px 0;
    padding: 0 25px;
  }

  .header__logotype {
    flex-wrap: wrap;
    justify-content: center;
  }

  .header__logo {
    display: none;
  }

  header p {
    padding: 0 25px;
    display: none;
  }

  #mobile-headline {
    display: block;
  }

  #authors {
    display: block;
  }

  h1 {
    font-size: 32px;
    order: 1;
    padding: 0 20px;
  }

  h2 {
    margin: 50px 0;
  }

  h2:after {
    background: linear-gradient(90deg, #38ccae 0%, #1b1b1b 90%);
  }

  .row {
    width: 100%;
    flex-wrap: wrap;
    margin-top: 25px;
    justify-content: center;
  }

  .row p {
    margin: 25px 0 50px;
    padding: 0;
    order: 1;
    font-size: 16px;
  }

  .row section {
    order: 1;
  }

  .row section {
    padding-left: 0;
  }

  .row__col {
    width: 100%;
    order: 2;
  }
}

#subscribe-button {
  color: white;
  display: inline-block;
  font-weight: 900;
  font-size: 32px;
  padding: 32px 64px;
  background-color: #38ccae;
  text-align: center;
    background: linear-gradient(
    to right top, #38ccae, rgba(255, 255, 255, 0.6) 
  );
}

#subscribe-button:hover {
  box-shadow: inset 0 0 5px #000000;
}

#subscribe-button:after {
  background: none;
}
